
@font-face {
    font-family: 'englishfont'; /*a name to be used later*/
    src: url('./assets/SlimeCandy.ttf'); /*URL to font*/
}
.cardContainer
{
    width: 200px;
    height:auto;
    border:1px solid #d30d0d;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px rgba(36, 2, 2, 0.342);
    background:linear-gradient(rgb(170, 6, 6),rgba(243, 3, 3, 0.288));
}
.cardContainer:hover
{
    background:linear-gradient(rgb(175, 0, 0),rgba(243, 3, 3, 0.555));
    cursor: crosshair;
}
.cardContainer:hover p 
{
    background:linear-gradient(rgb(255, 140, 140),rgb(255, 169, 169));
    cursor: crosshair;
    border-radius: 5px;
}

.nai img
{
    border-radius: 10px;
    width: 200px;
    height:300px;
    margin-top: 10px;
}
.nai h3
{
    font-family: englishfont;
    text-align: center;
    font-size: xx-large;
}
.cardContainer p
{
    font-family: englishfont;
    font-size: x-large;
    text-align: center;
}

